<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Simulation</title>
</head>
<body>
    <h1>URL Simulation</h1>
    <p>This simulation will allow us to collect data on how users react to different types of clickable url links on a webpage</p>
    <p>You will be shown a series of webpages, and your task is to click on the one that has the URL, "www.ucmerced.edu"</p>
    <p>View Your results at the end!</p>
    <a href="{{ url_for('sim1pg1') }}">START</a>
</body>
</html>