<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title> GAZE TRACKING </title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/main.css" />
</head>

<body>

  <header class="hero">
    <div class="container spacing">
      <h1 class="primary-title">Gaze Tracking URL Simulation</h1>
      <p>This simulation will allow us to collect data on how users react to different styles of webpages containing url links</p>
      <a href="#" class="btn">SCROLL DOWN FOR MORE INFORMATION</a>
    </div>
  </header>
  <main>

    <section class="featured">
      <div class="container">
        <h2 class="section-title">Featured Elements</h2>
        <div class="split">
          <a href="#" class="featured__item">
            <img src="/static/img/eye.png" alt="" class="featured__img">
            <p class="featured__details"><span class="price">Eye Tracking</span></p>
          </a>
          <a href="#" class="featured__item">
            <img src="/static/img/clock2.png" alt="" class="featured__img">
            <p class="featured__details"><span class="price">Timed Trials</span></p>
          </a>
          <a href="#" class="featured__item">
            <img src="/static/img/x3.png" alt="" class="featured__img">
            <p class="featured__details"><span class="price">Accuracy/Error Rate</span></p>
          </a>
        </div>
      </div>
    </section>


    <section class="our-products">
      <div class="container">
        <h2 class="section-title">Project Details</h2>

        <article class="product shoe-red spacing">
          <img src="/static/img/brain1.png" alt="" class="product__image">
          <h3 class="product__title">OUR MOTIVE</h3>
          <p class="product__description">We would like to test whether further spaced out content
            or closer together content on web pages make it easier to navigate. </p>

        </article>

        <article class="product shoe-white shoe-left spacing">
          <img src="/static/img/game1.png" alt="" class="product__image">
          <h3 class="product__title">GUIDE</h3>
          <p class="product__description">You will be faced with TWO different simulations. The first one will feature closer together links.  The second will feature
             a more spread out style.
            On every page, click the link that says "www.ucmerced.edu" to advance.
          </p>
          
        </article>

        <article class="product shoe-blue spacing">
          <h3 class="product__title">READY TO PLAY?</h3>
          <p class="product__description">Click below to start the simulations. Good luck!</p>
          <a href="{{ url_for('sim1pg1') }}" class="btn">START</a>
        </article>

      </div>
    </section>

  </main>

</body>

</html>